[Unit]
Description=Highly configurable Rust local DNS adblocker.
After=network.target

[Service]
User=root
ExecStart=/usr/bin/rhole --config config.yml
Environment="RUST_LOG=rhole=info"
WorkingDirectory=/etc/rhole
Restart=on-failure
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target